<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<h1>Home page</h1>
<ul>
<li><a href="/myapp/Send_notification/">Send notification</a><br><br></li>
<li><a href="/myapp/View_notification/">View notification</a><br><br></li>
<li><a href="/myapp/view_user/">View user</a><br><br></li>
<li><a href="/myapp/view_complaint/">View complaint</a><br><br></li>
<li><a href="/myapp/Admin_Change_Password/">View change_password</a><br><br></li>
<li><a href="/myapp/All_Book/">All_Book</a><br><br></li>
</ul>
</body>
</html>