<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>USER PAGE</h1>
<ul>

       <li>  <a href="/myapp/User_Change_Password/">User_Change_Password</a><br><br></li>
       <li>  <a href="/myapp/View_Profile/">View_Profile</a><br><br></li>
       <li>  <a href="/myapp/Update_Profile/">Update_Profile</a><br><br></li>
       <li>  <a href="/myapp/List_Book/">List_Book</a><br><br></li>
       <li>  <a href="/myapp/View_Book/">My_Book</a><br><br></li>
       <li>  <a href="/myapp/Other_Book/">All_Book</a><br><br></li>
       <li>  <a href="/myapp/View_Request_Status/">View_Request_Status</a><br><br></li>
       <li>  <a href="/myapp/User_Complaint/">Send Complaint</a><br><br></li>
       <li>  <a href="/myapp/View_reply/">View reply</a><br><br></li>
       <li>  <a href="/myapp/View_Exchange_History/">Exchange History</a><br><br></li>
       <li>  <a href="/myapp/View_Point/">View point</a><br><br></li>

</ul>
</body>
</html>